<div class="container-fluid user-register">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-title">ログイン</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class: "input-text" %>
        </div>

        <div class="field">
          <%= f.label :password, 'パスワード' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input-text" %>
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'ユーザー情報を記録' %>
          <% end %>
        </div>


        <div class="actions">
          <%= f.submit 'ログイン', class: "prim-btn float-right" %>
        </div>
      <% end %>
      <br><br>
      <%= render "users/shared/links" %>
    </div>

    <div class="col-md-8 visible-md visible-lg margin-t-50">
      <img alt="no-icon" src="/images/MeiTian_TOP.jpg" class="product-img">
    </div>
  </div>
</div>