<!-- ログインしてるが、自分じゃない -->
<% if user_signed_in? && paper.user_id != current_user.id %>
	<th scope="col">
		<a href="https://www.google.co.jp/search?q=<%= word.ja %>%20中国語" target="_blank">
			<%= word.ja %>
		</a>
	</th>
	<th scope="col">
		<a href="https://www.google.co.jp/search?q=<%= word.ch %>%20中国語" target="_blank">
			<%= word.ch %>
		</a>
	</th>
	<th scope="col"><%= word.pin %></th>

<!-- ログインして、自分 -->
<% elsif user_signed_in? && paper.user_id == current_user.id %>
	<% if word.memorized_ja == false %>
		<th scope="col">
			<%= link_to edit_s_word_path(word, redirect_flg: "word_ja") do %>
				<%= render :partial => 'svg/edit_sm' %>
			<% end %>
		</th>
		<th scope="col">
			<a href="https://www.google.co.jp/search?q=<%= word.ja %>%20中国語" target="_blank">
				<%= word.ja %>
			</a>
		</th>
		<th scope="col">
			<%= link_to s_word_check_ja_path(word), class: "contraction_btn contraction_btn_uncheck", onclick: "ga('send', 'event', 'papers', 'check_on_word', '')", method: :put, remote: true do %>
				<%= render :partial => 'svg/check_sm' %>
			<% end %>
		</th>
		<th scope="col">
			<a href="https://www.google.co.jp/search?q=<%= word.ch %>%20中国語" target="_blank">
				<%= word.ch %>
			</a>
		</th>
		<th scope="col" class="pointer" type="button"  data-toggle="modal" data-target="#pin_edit_modal_ja_<%= word.id %>"><%= word.pin %></th>
	<% else %>
		<th scope="col" class="row-checked">
			<%= link_to edit_s_word_path(word) do %>
				<%= render :partial => 'svg/edit_sm' %>
			<% end %>
		</th>
		<th scope="col" class="row-checked">
			<a href="https://www.google.co.jp/search?q=<%= word.ja %>%20中国語" target="_blank">
				<%= word.ja %>
			</a>
		</th>
		<th scope="col" class="row-checked">
			<%= link_to s_word_uncheck_ja_path(word), class: "contraction_btn contraction_btn_check", onclick: "ga('send', 'event', 'papers', 'check_off_word', '')", method: :put, remote: true do %>
				<%= render :partial => 'svg/thumb' %>
			<% end %>
		</th>
		<th scope="col" class="row-checked">
			<a href="https://www.google.co.jp/search?q=<%= word.ch %>%20中国語" target="_blank">
				<%= word.ch %>
			</a>
		</th>
		<th scope="col" class="row-checked pointer" type="button"  data-toggle="modal" data-target="#pin_edit_modal_ja_<%= word.id %>"><%= word.pin %></th>
	<% end %>

	<!-- ピンイン編集モーダル  -->
  <div class="modal fade modal-centered" id="pin_edit_modal_ja_<%= word.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      	<%= form_tag s_word_update_pin_path(word), method: "PUT", remote: true do %>
	        <div class="modal-header">
	          <h5 class="modal-title">ピンインの編集</h5>
	        </div>
	        <div class="modal-body">
	        	Meitianが自動で振ったピンインを修正することができます。
			    		<div class='form-section'>
			          <div class="clearfix">
			            <div id="s_word_pin_edit_ch" class="float-left">
			              <%= render :partial => 'svg/google' %>
			            </div>
									<div class="float-left margin-l-10" id="s_word_pinedit"><%= word.ch %></div>
			          </div>
			          <%= text_field_tag :pin , word.pin ,placeholder: "Pinyin", class: "width-100" %>
			        </div>
					</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
	          <%= submit_tag "更新", class: "btn bg-prim fontcol-white " %>
	        </div>
	      </div>
      <% end %>
    </div>
  </div>

<!-- ログインしていない -->
<% else %>
	<th scope="col">
		<a href="https://www.google.co.jp/search?q=<%= word.ja %>%20中国語" target="_blank">
			<%= word.ja %>
		</a>
	</th>
	<th scope="col">
		<a href="https://www.google.co.jp/search?q=<%= word.ch %>%20中国語" target="_blank">
			<%= word.ch %>
		</a>
	</th>
	<th scope="col"><%= word.pin %></th>
<% end %>