<% if @working_flg = true %>
	<section class='psr'>
		<div class='psr-title'><span class='status-badge badge-red'>勉強中の教材</span></div>
		<div class='psr-content'>
			<% @working_passages.each do |passage| %>
				<div class='margin-b-20'>
					<%= link_to passage_word_ch_path(passage) do %>
						<%= render :partial => 'svg/passage' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= passage.title %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= passage.title.truncate(17) %></span>
					<% end %>
				</div>
			<% end %>
			<% @working_papers.each do |paper| %>
				<div class='margin-b-20'>
					<%= link_to paper_sentence_ch_path(paper) do %>
						<%= render :partial => 'svg/paper' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= paper.name %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= paper.name.truncate(17) %></span>
					<% end %>
				</div>
			<% end %>
			<% @working_rings.each do |ring| %>
				<div class='margin-b-20'>
					<%= link_to ring_word_ch_path(ring) do %>
						<%= render :partial => 'svg/ring' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= ring.name %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= ring.name.truncate(17) %></span>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
<% end %>

<% if @review_needed_flg = true %>
	<section class='psr'>
		<div class='psr-title'><span class='status-badge badge-blue'>復習予定の教材</span></div>
		<div class='psr-content'>
			<% @review_needed_passages.each do |passage| %>
				<div class='margin-b-20'>
					<%= link_to passage_word_ch_path(passage) do %>
						<%= render :partial => 'svg/passage' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= passage.title %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= passage.title.truncate(17) %></span>
					<% end %>
				</div>
			<% end %>
			<% @review_needed_papers.each do |paper| %>
				<div class='margin-b-20'>
					<%= link_to paper_sentence_ch_path(paper) do %>
						<%= render :partial => 'svg/paper' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= paper.name %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= paper.name.truncate(17) %></span>
					<% end %>
				</div>
			<% end %>
			<% @review_needed_rings.each do |ring| %>
				<div class='margin-b-20'>
					<%= link_to ring_word_ch_path(ring) do %>
						<%= render :partial => 'svg/ring' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= ring.name %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= ring.name.truncate(17) %></span>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
<% end %>

<section class='psr'>
	<div class='psr-title'>文章</div>
	<div class='psr-content'>
		<% if @passages.present? %>
			<% @passages.each do |passage| %>
				<div class='margin-b-20'>
					<%= link_to passage_word_ch_path(passage) do %>
						<%= render :partial => 'svg/passage' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= passage.title %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= passage.title.truncate(15) %></span>
						<!-- ステータスラベル -->
						<% if passage.waiting? %>
							<span class='status-badge badge-black'><%= passage.status_i18n %></span>
						<% elsif passage.working? %>
							<span class='status-badge badge-red'><%= passage.status_i18n %></span>
						<% elsif passage.review_needed? %>
							<span class='status-badge badge-blue'><%= passage.status_i18n %></span>
						<% elsif passage.completed? %>
							<span class='status-badge badge-green'><%= passage.status_i18n %></span>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<% if @passages_cnt > 5 %>
				<div class='psr-link'>
					<%= link_to user_passages_path(@user) do %>
						>全ての文章(<%= @passages_cnt %>)
					<% end %>
				</div>
			<% end %>
		<% else %>
			まだ文章の投稿はありません。
		<% end %>
	</div>
</section>

<section class='psr'>
	<div class='psr-title'>短文集</div>
	<div class='psr-content'>
		<% if @papers.present? %>
			<% @papers.each do |paper| %>
				<div class='margin-b-20'>
					<%= link_to paper_sentence_ch_path(paper) do %>
						<%= render :partial => 'svg/paper' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= paper.name %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= paper.name.truncate(15) %></span>
						<!-- ステータスラベル -->
						<% if paper.waiting? %>
							<span class='status-badge badge-black'><%= paper.status_i18n %></span>
						<% elsif paper.working? %>
							<span class='status-badge badge-red'><%= paper.status_i18n %></span>
						<% elsif paper.review_needed? %>
							<span class='status-badge badge-blue'><%= paper.status_i18n %></span>
						<% elsif paper.completed? %>
							<span class='status-badge badge-green'><%= paper.status_i18n %></span>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<% if @papers_cnt > 5 %>
				<div class='psr-link'>
					<%= link_to user_papers_path(@user) do %>
						>全ての短文集(<%= @papers_cnt %>)
					<% end %>
				</div>
			<% end %>
		<% else %>
			まだ短文集の投稿はありません。
		<% end %>
	</div>
</section>

<section class='psr'>
	<div class='psr-title'>単語帳</div>
	<div class='psr-content'>
		<% if @rings.present? %>
			<% @rings.each do |ring| %>
				<div class='margin-b-20'>
					<%= link_to ring_word_ch_path(ring) do %>
						<%= render :partial => 'svg/ring' %>
						<!-- タブレット以上 -->
						<span class='visible-sm-inline visible-lg-inline visible-md-inline'><%= ring.name %></span>
						<!-- スマホサイズ -->
						<span class='visible-xs-inline'><%= ring.name.truncate(15) %></span>
						<!-- ステータスラベル -->
						<% if ring.waiting? %>
							<span class='status-badge badge-black'><%= ring.status_i18n %></span>
						<% elsif ring.working? %>
							<span class='status-badge badge-red'><%= ring.status_i18n %></span>
						<% elsif ring.review_needed? %>
							<span class='status-badge badge-blue'><%= ring.status_i18n %></span>
						<% elsif ring.completed? %>
							<span class='status-badge badge-green'><%= ring.status_i18n %></span>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<% if @rings_cnt > 5 %>
				<div class='psr-link'>
					<%= link_to user_rings_path(@user) do %>
						>全ての単語帳(<%= @rings_cnt %>)
					<% end %>
				</div>
			<% end %>
		<% else %>
			まだ単語帳の投稿はありません。
		<% end %>
	</div>
</section>