<% if @working_flg == true %>
	<section class='psr'>
		<div class='psr-title psr-title-red'>勉強中の教材</div>
		<div class='psr-content'>
			<% @working_passages.each do |passage| %>
        <div class='margin-b-20'>
          <%= link_to passage_path(passage) do %>
            <div class='font-18 font-bold margin-b-5 overflow'>
              <%= passage.title %>
            </div>
            <div class='clearfix font-12'>
            	<div class='float-left'>
								<span class=''><%= passage.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
							</div>
              <div class='float-right'>
                <span class='status-badge badge-red'>勉強中</span>
              </div>
              <div class='float-right'>
                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= passage.p_words.count %>単語</span>
              </div>
              <% if passage.ch.present? %>
                <div class='float-right'>
                  <span class="padding-t-3"><%= render :partial => 'svg/tag' %></span><span class="margin-l-3 margin-r-15">長文あり</span>
                </div>
              <% end %>
            </div>
            <div class='psr-content-sub'>
              <% if passage.p_words.count > 0 %>
                <% passage.p_words.limit(20).each do |word| %>
                  <%= word.ch.truncate(7) %>&ensp;/&ensp;
                <% end %>
              <% elsif passage.ch.present? %>
                <%= passage.ch.truncate(100) %>
              <% else %>
                まだ単語が追加されていません。
              <% end %>
            </div>
          <% end %>
        </div>
			<% end %>
			<% @working_papers.each do |paper| %>
        <div class='margin-b-20'>
          <%= link_to paper_path(paper) do %>
            <div class='font-18 font-bold margin-b-5 overflow'>
              <%= paper.name %>
            </div>
            <div class='clearfix font-12'>
            	<div class='float-left'>
            		<span class=''><%= paper.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
            	</div>
            	<div class='float-right'>
								<span class='status-badge badge-red'>勉強中</span>
							</div>
              <div class='float-right'>
                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= paper.sentences.count %>例文</span>
              </div>
            </div>
            <div class='psr-content-sub'>
              <% if paper.sentences.present? %>
                <div class='margin-b-5'><%= paper.sentences.first.ch.truncate(50) %></div>
                <%= paper.sentences.first.ja.truncate(50) %><br>
              <% else %>
                まだ瞬間作文が追加されていません。
              <% end %>
            </div>
          <% end %>
        </div>
			<% end %>
		</div>
	</section>
<% end %>


<% if @review_needed_flg == true %>
	<section class='psr'>
		<div class='psr-title psr-title-blue'>復習予定の教材</div>
		<div class='psr-content'>
			<% @review_needed_passages.each do |passage| %>
        <div class='margin-b-20'>
          <%= link_to passage_path(passage) do %>
            <div class='font-18 font-bold margin-b-5 overflow'>
              <%= passage.title %>
            </div>
            <div class='clearfix font-12'>
            	<div class='float-left'>
            		<span class=''><%= passage.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
            	</div>
            	<div class='float-right'>
								<span class='status-badge badge-blue'>要復習</span>
							</div>
              <div class='float-right'>
                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= passage.p_words.count %>単語</span>
              </div>
              <% if passage.ch.present? %>
                <div class='float-right'>
                  <span class="padding-t-3"><%= render :partial => 'svg/tag' %></span><span class="margin-l-3 margin-r-15">長文あり</span>
                </div>
              <% end %>
            </div>
            <div class='psr-content-sub'>
              <% if passage.p_words.count > 0 %>
                <% passage.p_words.limit(20).each do |word| %>
                  <%= word.ch.truncate(7) %>&ensp;/&ensp;
                <% end %>
              <% elsif passage.ch.present? %>
                <%= passage.ch.truncate(100) %>
              <% else %>
                まだ単語が追加されていません。
              <% end %>
            </div>
          <% end %>
        </div>
			<% end %>
			<% @review_needed_papers.each do |paper| %>
        <div class='margin-b-20'>
          <%= link_to paper_path(paper) do %>
            <div class='font-18 font-bold margin-b-5 overflow'>
              <%= paper.name %>
            </div>
            <div class='clearfix font-12'>
            	<div class='float-left'>
            		<span class=''><%= paper.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
            	</div>
            	<div class='float-right'>
								<span class='status-badge badge-blue'>要復習</span>
							</div>
              <div class='float-right'>
                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= paper.sentences.count %>例文</span>
              </div>
            </div>
            <div class='psr-content-sub'>
              <% if paper.sentences.present? %>
                <div class='margin-b-5'><%= paper.sentences.first.ch.truncate(50) %></div>
                <%= paper.sentences.first.ja.truncate(50) %><br>
              <% else %>
                まだ瞬間作文が追加されていません。
              <% end %>
            </div>
          <% end %>
        </div>
			<% end %>
		</div>
	</section>
<% end %>


<% if @passages.present? %>
	<section class='psr'>
		<div class='psr-title psr-title-black'>
			<div class="clearfix">
				<div class="float-left">最近、更新した単語帳</div>
				<% if @papers_cnt > 5 %>
					<div class='psr-link float-right'>
						<%= link_to user_passages_path(@user) do %>
							>全ての単語帳(<%= @passages_cnt %>)
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class='psr-content'>
			<% @passages.each do |passage| %>
        <div class='margin-b-20'>
          <%= link_to passage_path(passage) do %>
            <div class='font-18 font-bold margin-b-5 overflow'>
              <%= passage.title %>
            </div>
            <div class='clearfix font-12'>
            	<div class='float-left'>
            		<span class=''><%= passage.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
            	</div>
            	<div class='float-right'>
								<!-- ステータスラベル -->
								<% if passage.waiting? %>
									<span class='status-badge badge-black'><%= passage.status_i18n %></span>
								<% elsif passage.working? %>
									<span class='status-badge badge-red'><%= passage.status_i18n %></span>
								<% elsif passage.review_needed? %>
									<span class='status-badge badge-blue'><%= passage.status_i18n %></span>
								<% elsif passage.completed? %>
									<span class='status-badge badge-green'><%= passage.status_i18n %></span>
								<% end %>
							</div>
              <div class='float-right'>
                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= passage.p_words.count %>単語</span>
              </div>
              <% if passage.ch.present? %>
                <div class='float-right'>
                  <span class="padding-t-3"><%= render :partial => 'svg/tag' %></span><span class="margin-l-3 margin-r-15">長文あり</span>
                </div>
              <% end %>
            </div>
            <div class='psr-content-sub'>
              <% if passage.p_words.count > 0 %>
                <% passage.p_words.limit(20).each do |word| %>
                  <%= word.ch.truncate(7) %>&ensp;/&ensp;
                <% end %>
              <% elsif passage.ch.present? %>
                <%= passage.ch.truncate(100) %>
              <% else %>
                まだ単語が追加されていません。
              <% end %>
            </div>
          <% end %>
        </div>
			<% end %>
			<% if @passages_cnt > 5 %>
				<div class='psr-link'>
					<%= link_to user_passages_path(@user) do %>
						>全ての単語帳(<%= @passages_cnt %>)
					<% end %>
				</div>
			<% end %>
			<br>
		</div><!-- End of psr-content -->
	</section>
<% end %>

<% if @papers.present? %>
	<section class='psr'>
		<div class='psr-title psr-title-black'>
			<div class="clearfix">
				<div class="float-left">最近、更新した瞬間作文集</div>
				<% if @papers_cnt > 5 %>
					<div class='psr-link float-right'>
						<%= link_to user_papers_path(@user) do %>
							>全ての瞬間作文集(<%= @papers_cnt %>)
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class='psr-content'>
			<% @papers.each do |paper| %>
        <div class='margin-b-20'>
          <%= link_to paper_path(paper) do %>
            <div class='font-18 font-bold margin-b-5 overflow'>
              <%= paper.name %>
            </div>
            <div class='clearfix font-12'>
            	<div class='float-left'>
            		<span class=''><%= paper.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
            	</div>
            	<div class='float-right'>
								<!-- ステータスラベル -->
								<% if paper.waiting? %>
									<span class='status-badge badge-black'><%= paper.status_i18n %></span>
								<% elsif paper.working? %>
									<span class='status-badge badge-red'><%= paper.status_i18n %></span>
								<% elsif paper.review_needed? %>
									<span class='status-badge badge-blue'><%= paper.status_i18n %></span>
								<% elsif paper.completed? %>
									<span class='status-badge badge-green'><%= paper.status_i18n %></span>
								<% end %>
							</div>
              <div class='float-right'>
                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= paper.sentences.count %>例文</span>
              </div>
            </div>
            <div class='psr-content-sub'>
              <% if paper.sentences.present? %>
                <div class='margin-b-5'><%= paper.sentences.first.ch.truncate(50) %></div>
                <%= paper.sentences.first.ja.truncate(50) %><br>
              <% else %>
                まだ瞬間作文が追加されていません。
              <% end %>
            </div>
          <% end %>
        </div>
			<% end %>
			<% if @papers_cnt > 5 %>
				<div class='psr-link'>
					<%= link_to user_papers_path(@user) do %>
						>全ての瞬間作文集(<%= @papers_cnt %>)
					<% end %>
				</div>
			<% end %>
			<br>
		</div><!-- End of psr-content -->
	</section>
<% end %>