<% if @user.goal? %>
	<div class='user-profile-field'>
		<span class='user-goal-title'><%= render :partial => 'svg/goal_sm' %>目標</span><br>
		<%= simple_format(@user.goal) %>
	</div>
<% end %>
<% if @theme.present? %>
	<div class='user-profile-field'>
		<span class='user-goal-title'><%= render :partial => 'svg/calender_sm' %><%= @this_month %>月のテーマ</span><br>
		<%= simple_format(@theme) %>
	</div>
<% end %>