<% content_for :title do %>
  <%= @user.name %>さんの瞬間作文集一覧 | MeiTian
<% end %>

<div class='visible-xs'>
  <div class="brand-top">
    <div class="brand-top-logo-center overflow"><%= @user.name %>さんの瞬間作文集一覧</div>
  </div>
</div>

<div class="container">
	<% if @papers.present? %>
		<section class='psr'>
			<div class='psr-title psr-title-black'>
				<div class="clearfix">
					<div class="float-left"><%= @user.name %>さんの瞬間作文集一覧</div>
				</div>
			</div>
			<div class='psr-content'>
				<% @papers.each do |paper| %>
	        <div class='margin-b-20'>
	          <%= link_to paper_path(paper) do %>
	            <div class='font-18 font-bold margin-b-5 overflow'>
	              <%= paper.name %>
	            </div>
	            <div class='clearfix font-12'>
	            	<div class='float-left'>
	            		<span class=''><%= paper.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>更新</span>
	            	</div>
	            	<div class='float-right'>
									<!-- ステータスラベル -->
									<% if paper.waiting? %>
										<span class='status-badge badge-black'><%= paper.status_i18n %></span>
									<% elsif paper.working? %>
										<span class='status-badge badge-red'><%= paper.status_i18n %></span>
									<% elsif paper.review_needed? %>
										<span class='status-badge badge-blue'><%= paper.status_i18n %></span>
									<% elsif paper.completed? %>
										<span class='status-badge badge-green'><%= paper.status_i18n %></span>
									<% end %>
								</div>
	              <div class='float-right'>
	                <%= render :partial => 'svg/ring_tag' %><span class="margin-l-3 margin-r-15"><%= paper.sentences.count %>例文</span>
	              </div>
	            </div>
	            <div class='psr-content-sub'>
	              <% if paper.sentences.present? %>
	                <div class='margin-b-5'><%= paper.sentences.first.ch.truncate(50) %></div>
	                <%= paper.sentences.first.ja.truncate(50) %><br>
	              <% else %>
	                まだ瞬間作文が追加されていません。
	              <% end %>
	            </div>
	          <% end %>
	        </div>
				<% end %>
			</div><!-- End of psr-content -->
		</section>
	<% end %>
</div>