<% content_for :title do %>
	マイ教材 | MeiTian
<% end %>

<!-- ヘッダー スマホ -->
<div class='visible-xs'>
  <div class="brand-top">
    マイ教材
  </div>
</div>

<div class="container">

	<% if @user.goal.blank?%>
		<%= link_to edit_user_registration_path(@user) do %>
			<div class='card-alert'>
				中国語学習の目標を決めましょう！
			</div>
		<% end %>
	<% end %>

	<% if @user.goal.present? %>
		<div class="balloon-wrapper float-left"">
			<% if @user.image? %>
						<%= image_tag @user.image.url, :alt => "icon", :class => "icon" %>
			<% else %>
				<img class="icon" alt="no-icon" src="/images/no-icon.png">
			<% end %>
			<p class="left_balloon">
				<%= @user.goal %>
			</p>
		</div>
		<br class="clear_balloon"/>
	<% end %>
	<div class='psr-link'>
		<%= link_to edit_user_registration_path(@user) do %>
			>目標の変更
		<% end %>
 	</div>

	<!-- PSRリスト -->
	<%= render :partial => 'users/psr_list', :locals=>{user: @user, passages: @passages, passages_cnt: @passages_cnt, papers: @papers, papers_cnt: @papers_cnt, rings: @rings, rings_cnt: @rings_cnt} %>

</div><!-- End of Container -->