<div class="me-jump-to-note">
	<a href="https://note.mu/meitian/n/n54c6670c3111" target="_blank" onclick="ga('send', 'event', 'outbound', 'note_how_to_use_meitian', 'link_in_me');">かんたん使い方ガイド</a>
</div>
<section class='me-profile'>
	<% if @user.goal.present? or @theme.present? %>
		<div class='balloon-wrapper clearfix'>
			<%= link_to user_path(@user) do %>
			  <% if @user.image? %>
			    <%= image_tag @user.image.url, :alt => "icon", :class=>"icon center" %>
			  <% else %>
					 <img alt="no-icon" src="/images/no-icon.png" class="icon center">
			  <% end %>
			<% end %>
			<%= link_to edit_user_registration_path(@user) do %>
				<p class="left_balloon">
					<% if @user.goal.present? %>
						<%= @user.goal %>
					<% end %>
					<% if @user.goal.present? and @theme.present? %>
						<br><br>
					<% end %>
					<% if @theme.present?%>
						<%= @this_month %>月の学習テーマは、<%= @theme %>
					<% end %>
				</p>
			<% end %>
		</div>
	<% end %>

	<% if @user.goal.blank?%>
		<%= link_to edit_user_registration_path(@user) do %>
			<div class='card-alert'>
				タスク：中国語学習の最終的なゴールを決めましょう！
			</div>
		<% end %>
	<% end %>
	<% if @theme.blank?%>
		<%= link_to edit_user_registration_path(@user) do %>
			<div class='card-alert'>
				タスク：<%= @this_month %>月の学習テーマを決めましょう！
			</div>
		<% end %>
	<% end %>
</section>



<!-- PSRリスト -->
<%= render :partial => 'users/psr_list', :locals=>{user: @user, passages: @passages, passages_cnt: @passages_cnt, papers: @papers, papers_cnt: @papers_cnt, rings: @rings, rings_cnt: @rings_cnt} %>