<div class='clearfix'>
	<div class='psr-show-user float-left'>
		<%= link_to user_path(user) do %>
			<% if user.image? %>
			  <%= image_tag user.image.url, :alt => "icon", :class=>"smallicon center" %>
			<% else %>
				 <img alt="no-icon" src="/images/no-icon.png" class="smallicon">
			<% end %>
		<% end %>
	</div>
	<div class='psr-show-user float-left margin-l-10'>
		<%= link_to user_path(user) do %>
			<%= user.name %>
		<% end %>
	</div>
	<% if user == current_user %>
		<div class='edit-btn float-right'>
			<%= link_to edit_paper_path(paper) do %>
				<%= render :partial => 'svg/edit_sm' %>
			<% end %>
		</div>
	<% end %>
</div>
<% if user_signed_in? && @user != current_user %>
	<%= link_to "コピー", paper_copy_path(@paper), method: :post, class: "form-send-btn prevent_double_click float-right margin-b-20 visible-lg", remote: true %>
	<%= link_to "コピー", paper_copy_path(@paper), method: :post, class: "form-send-btn prevent_double_click action-float-btn visible-xs visible-sm visible-md", remote: true %>
<% end %>

<!-- 短文集の名前 -->
<h1 class="margin-b-40"><%= @paper.name%></h1>

<!-- ヒント部分 -->
<% unless user_signed_in? %>
	<% if sentences.present? %>
		<div class='hint'>
			<%= render :partial => 'svg/information' %>
			ログインすると、暗記済みにチェックをつけられます。
		</div>
	<% end %>
<% end %>

<!-- ステータス部分 -->
<% if user == current_user %>
	<div class="status-btns clearfix" id="paper-status-btns">
		<%= render :partial => 'papers/paper_status', :locals=>{paper: paper} %>
	</div>
<% end %>