<% content_for :title do %>
  <%= @paper.name %> | Meitianで中国語を勉強
<% end %>


<%= render :partial => 'papers/papers_show_common', :locals=>{user: @user, paper: @paper, sentences: @sentences} %>


<!-- 短文リスト -->
<section class='sentences' id='sentence-ch'>
	<% if @sentences.present? %>
		<% @sentences.each do |s| %>
			<div id='sentence-card-<%= s.id %>'>
				<%= render :partial => 'sentences/sentence_card_ch', :locals=>{paper: @paper, s: s} %>
			</div>
		<% end %>
	<% end %>
</section>


</div><!-- End of Container -->

<div class="empty-sm">
</div>

<% if @paper.sample == true && @user == current_user %>
	<div class="sample-hint">
		<%= render :partial => 'svg/information' %>
		短文をタップしてみてください<br>
		「覚えた！」チェックをつけましょう！
	</div>
<% end %>