<% content_for :title do %>
	みんなの中国語短文集 | MeiTian
<% end %>

<h1 class='explore-title'>みんなの短文集一覧</h1>

<section class='psr'>
	<div class='psr-content'>
		<% @papers.each do |paper| %>
			<div class='margin-b-20'>
				<%= link_to paper_sentence_ch_path(paper) do %>
					<div class='clearfix'>
						<div class='float-left list-user-img'>
						  <% if paper.user.image? %>
						    <%= image_tag paper.user.image.url, :alt => "icon" %>
						  <% else %>
								 <img alt="no-icon" src="/images/no-icon.png">
						  <% end %>
						</div>
						<div class='float-left list-text-with-img'>
							<%= paper.name.truncate(17) %><span class='font-12'>（<%= paper.sentences.count %>）</span>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</section>

<div class='center'><%= paginate @papers %></div>