<% content_for :title do %>
	みんなの長文 | MeiTian
<% end %>

<h1 class='explore-title'>みんなの長文一覧</h1>

<section class='psr'>
	<div class='psr-content'>
		<% @passages.each do |passage| %>
			<div class='margin-b-20'>
				<%= link_to passage_word_ch_path(passage) do %>
					<div class='clearfix'>
						<div class='float-left list-user-img'>
						  <% if passage.user.image? %>
						    <%= image_tag passage.user.image.url, :alt => "icon" %>
						  <% else %>
								 <img alt="no-icon" src="/images/no-icon.png">
						  <% end %>
						</div>
						<div class='float-left list-text-with-img'>
							<%= passage.title.truncate(17) %>
						</div>
					</div>
				<% end %>
				<div class='psr-content-sub'>
					<%= passage.ch.truncate(70) %>
				</div>
			</div>
		<% end %>
	</div>
</section>

<div class='center'><%= paginate @passages %></div>