<h1 class='explore-title'>みんなの単語帳一覧</h1>

<section class='psr'>
	<div class='psr-title'>単語帳</div>
	<div class='psr-content'>
		<% @rings.each do |ring| %>
			<div class='margin-b-20'>
				<%= link_to ring_word_ch_path(ring) do %>
					<%= render :partial => 'svg/ring' %><%= ring.name.truncate(17) %><span class='font-12'>（<%= ring.r_words.count %>）</span>
				<% end %>
			</div>
		<% end %>
	</div>
</section>

<div class='center'><%= paginate @rings %></div>