<% unless user_signed_in? %>
	<!-- スマホ表示 -->
	<div class='visible-xs'>
		<div class='explore-top-xs'>
			<%= devise_error_messages! %>
			<h2>MeiTian</h2>
			<h3>あなたのコツコツを応援する中国語アプリ</h3>
			<img alt="no-icon" src="/images/MeiTian_TOP_tomato.jpg">
		</div>
		<div class='box'>
		  <div class='wave -one'></div>
		  <div class='wave -two'></div>
		  <div class='wave -three'></div>
		</div>
		<div class="container user-register margin-b-40">
	    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	      <div class="field">
	        <%= f.label :email, 'メールアドレス' %><br />
	        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: "input-text", id: "explore-form-show" %><br>
	      </div>

	      <div id="explore-form-hidden" style="display: none;">
		      <div class="field">
		        <%= f.label :name, 'ユーザーネーム' %><span class='explanation'>（最大12文字）</span><br />
		        <%= f.text_field :name, autofocus: true, maxlength: "12", placeholder: 'ユーザーネーム', class: "input-text"%>
		      </div>

		      <div class="field">
		        <%= f.label :password, 'パスワード' %><span class='explanation'>（6文字以上）</span><br>
		        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: "input-text" %>
		        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード確認', class: "input-text" %>
		        <div class='clearfix'>
		        	<%= f.submit '新規登録', class: "prim-btn float-right" %>
		        </div>
		      </div>

		     	<%= link_to "ログインはこちら", new_session_path(resource_name) ,class: "float-right" %>
		     </div>
	    <% end %>
	  </div>
	</div>

	<!-- タブレット以上 -->
	<div class='visible-sm visible-md visible-lg'>
		<div class="container explore-top">
			<%= devise_error_messages! %>
			<h2>MeiTian</h2>
			<h3>あなたのコツコツを応援する中国語アプリ</h3>
		  <div class="row">
		    <div class="col-12 col-md-7">
					<img alt="no-icon" src="/images/MeiTian_TOP.jpg">
				</div>
				<div class="col-12 col-md-5 user-register">
		      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		        <div class="field">
		          <%= f.label :email, 'メールアドレス' %><br />
		          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: "input-text" %><br>
		        </div>

		        <div class="field">
		          <%= f.label :name, 'ユーザーネーム' %><span class='explanation'>（最大12文字）</span><br />
		          <%= f.text_field :name, autofocus: true, maxlength: "12", placeholder: 'ユーザーネーム', class: "input-text" %>
		        </div>

		        <div class="field">
		          <%= f.label :password, 'パスワード' %><span class='explanation'>（6文字以上）</span><br>
		          <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: "input-text" %>
		          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード確認', class: "input-text" %>
		          <div class='clearfix'>
		          	<%= f.submit '新規登録', class: "prim-btn float-right" %>
		          </div>
		        </div>
		        <%= link_to "ログインはこちら", new_session_path(resource_name) ,class: "float-right" %>
		      <% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>


<div class="container">
	<section class='psr'>
		<div class='psr-title psr-title-prim'>みんなの文章</div>
		<div class='psr-content'>
			<% @passages.each do |passage| %>
				<div class='margin-b-20'>
					<%= link_to passage_word_ch_path(passage) do %>
						<div class='clearfix'>
							<div class='float-left list-user-img'>
							  <% if passage.user.image? %>
							    <%= image_tag passage.user.image.url, :alt => "icon" %>
							  <% else %>
									 <img alt="no-icon" src="/images/no-icon.png">
							  <% end %>
							</div>
							<div class='float-left list-text-with-img'>
								<%= passage.title.truncate(17) %>
							</div>
						</div>
					<% end %>
					<div class='psr-content-sub'>
						<%= passage.ch.truncate(70) %>
					</div>
				</div>
			<% end %>
			<div class='psr-link'>
				<%= link_to passages_explore_path do %>
					>全ての文章(<%= @passages_cnt %>)
				<% end %>
			</div>
		</div>
	</section>

	<section class='psr'>
		<div class='psr-title psr-title-prim'>みんなの短文集</div>
		<div class='psr-content'>
			<% @papers.each do |paper| %>
				<div class='margin-b-20'>
					<%= link_to paper_sentence_ch_path(paper) do %>
						<div class='clearfix'>
							<div class='float-left list-user-img'>
							  <% if paper.user.image? %>
							    <%= image_tag paper.user.image.url, :alt => "icon" %>
							  <% else %>
									 <img alt="no-icon" src="/images/no-icon.png">
							  <% end %>
							</div>
							<div class='float-left list-text-with-img'>
								<%= paper.name.truncate(17) %><span class='font-12'>（<%= paper.sentences.count %>）</span>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
			<div class='psr-link'>
				<%= link_to papers_explore_path do %>
					>全ての短文集(<%= @papers_cnt %>)
				<% end %>
			</div>
		</div>
	</section>

	<section class='psr'>
		<div class='psr-title psr-title-prim'>みんなの単語帳</div>
		<div class='psr-content'>
			<% @rings.each do |ring| %>
				<div class='margin-b-20'>
					<%= link_to ring_word_ch_path(ring) do %>
						<div class='clearfix'>
							<div class='float-left list-user-img'>
							  <% if ring.user.image? %>
							    <%= image_tag ring.user.image.url, :alt => "icon" %>
							  <% else %>
									 <img alt="no-icon" src="/images/no-icon.png">
							  <% end %>
							</div>
							<div class='float-left list-text-with-img'>
								<%= ring.name.truncate(17) %><span class='font-12'>（<%= ring.r_words.count %>）</span>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
			<div class='psr-link'>
				<%= link_to rings_explore_path do %>
					>全ての単語帳(<%= @rings_cnt %>)
				<% end %>
			</div>
		</div>
	</section>


	<section class='psr'>
		<div class='psr-title psr-title-prim'>ユーザー</div>
		<div class='psr-content explore-users'>
			<% @users.each do |user| %>
				<div class='margin-b-20'>
					<%= link_to user_path(user) do %>
						<div class='clearfix'>
							<div class='float-left'>
							  <% if user.image? %>
							    <%= image_tag user.image.url, :alt => "icon" %>
							  <% else %>
									 <img alt="no-icon" src="/images/no-icon.png">
							  <% end %>
							</div>
							<div class='float-left user-name'>
								<%= user.name.truncate(15) %>
							</div>
						</div>
					<% end %>
					<% if user.introduction? %>
						<div class='psr-content-sub'>
							<%= user.introduction.truncate(70) %>
						</div>
					<% end %>
				</div>
			<% end %>
			<div class='psr-link'>
				<%= link_to users_explore_path do %>
					>全てのユーザー(<%= @users_cnt %>)
				<% end %>
			</div>
		</div>
	</section>
</div><!-- end of container -->