<!-- プロダクト説明カード -->
<div class="card product-explanation-card">
	<h2>MeiTian</h2>
	<h3>あなたのコツコツを応援する中国語アプリ</h3>
	<img alt="no-icon" src="/images/MeiTian_theme_conpact_white.jpg" class='explore-top-img'>
	<% if user_signed_in? %>
		<p>他のユーザーの投稿から勉強したいものを見つけて、自分の勉強リストにコピーしましょう！</p>
	<% else %>
		<p><%= link_to new_user_registration_path, class: "fontcol-prim font-16 font-bold" do %>ユーザー登録<% end %>
			すると、他のユーザーの投稿から勉強したいものを集めて、自分だけの教材集を作ることができます！</p>
	<% end %>
	<p class="right-align">
		<a data-toggle="collapse" href="#product-explanation" role="button" aria-expanded="false">
			説明をもっと見る
		</a>
	</p>
	<div class="collapse" id="product-explanation">
		<hr>
		<h3>教材をすべて一箇所に！</h3>
		<img alt="no-icon" src="/images/function_collect.jpg" class='explore-top-img'>
		<div class='margin-b-40'>
			<ul class="cp_list">
				<li>勉強したい文章、短文、単語を全て一箇所に。</li>
				<li>勉強中/要復習、など教材の状態を管理。</li>
				<li>周りの人の学習教材を、ワンボタンで自分の教材一覧に流用。</li>
			</ul>
		</div>
		<hr>
		<h3>そのまま勉強できる！</h3>
		<img alt="no-icon" src="/images/function_study.jpg" class='explore-top-img'>
		<div class=''>
			<ul class="cp_list">
				<li>スマホ/タブレット一つで学習完結。</li>
				<li>暗記済みのチェックを付けられる。</li>
				<li>調べたい単語・文章をワンクリックで検索。</li>
			</ul>
		</div>
	</div>
</div>

<section class='psr'>
	<div class='psr-title psr-title-prim'>みんなの文章</div>
	<div class='psr-content'>
		<% @passages.each do |passage| %>
			<div class='margin-b-20'>
				<%= link_to passage_word_ch_path(passage) do %>
					<%= render :partial => 'svg/passage' %><%= passage.title.truncate(17) %>
				<% end %>
				<div class='psr-content-sub'>
					<%= passage.ch.truncate(70) %>
				</div>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to passages_explore_path do %>
				>全ての文章(<%= @passages_cnt %>)
			<% end %>
		</div>
	</div>
</section>

<section class='psr'>
	<div class='psr-title psr-title-prim'>みんなの短文集</div>
	<div class='psr-content'>
		<% @papers.each do |paper| %>
			<div class='margin-b-20'>
				<%= link_to paper_sentence_ch_path(paper) do %>
					<%= render :partial => 'svg/paper' %><%= paper.name.truncate(17) %><span class='font-12'>（<%= paper.sentences.count %>）</span>
				<% end %>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to papers_explore_path do %>
				>全ての短文集(<%= @papers_cnt %>)
			<% end %>
		</div>
	</div>
</section>

<section class='psr'>
	<div class='psr-title psr-title-prim'>みんなの単語帳</div>
	<div class='psr-content'>
		<% @rings.each do |ring| %>
			<div class='margin-b-20'>
				<%= link_to ring_word_ch_path(ring) do %>
					<%= render :partial => 'svg/ring' %><%= ring.name.truncate(17) %><span class='font-12'>（<%= ring.r_words.count %>）</span>
				<% end %>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to rings_explore_path do %>
				>全ての単語帳(<%= @rings_cnt %>)
			<% end %>
		</div>
	</div>
</section>


<section class='psr'>
	<div class='psr-title psr-title-prim'>ユーザー</div>
	<div class='psr-content explore-users'>
		<% @users.each do |user| %>
			<div class='margin-b-20'>
				<%= link_to user_path(user) do %>
					<div class='clearfix'>
						<div class='float-left'>
						  <% if user.image? %>
						    <%= image_tag user.image.url, :alt => "icon" %>
						  <% else %>
								 <img alt="no-icon" src="/images/no-icon.png">
						  <% end %>
						</div>
						<div class='float-left user-name'>
							<%= user.name.truncate(15) %>
						</div>
					</div>
				<% end %>
				<% if user.introduction? %>
					<div class='psr-content-sub'>
						<%= user.introduction.truncate(70) %>
					</div>
				<% end %>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to users_explore_path do %>
				>全てのユーザー(<%= @users_cnt %>)
			<% end %>
		</div>
	</div>
</section>