<% unless user_signed_in? %>
	<div class="container-fluid explore-top">
		<h2>MeiTian</h2>
		<h3>あなたのコツコツを応援する中国語アプリ</h3>
	  <div class="row">
	    <div class="col-12 col-md-7">
				<img alt="no-icon" src="/images/MeiTian_TOP.jpg">
			</div>
			<div class="col-12 col-md-5 user-register">
	      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	        <%= devise_error_messages! %>

	        <div class="field">
	          <%= f.label :name, 'ユーザーネーム' %><span class='explanation'>（最大12文字）</span><br />
	          <%= f.text_field :name, autofocus: true, maxlength: "12", placeholder: 'ユーザーネーム', class: "input-text" %>
	        </div>

	        <div class="field">
	          <%= f.label :email, 'メールアドレス' %><br />
	          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: "input-text" %><br>
	        </div>

	        <div class="field">
	          <%= f.label :password, 'パスワード' %><span class='explanation'>（6文字以上）</span><br>
	          <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: "input-text" %>
	          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード確認', class: "input-text" %>
	          <div class='clearfix'>
	          	<%= f.submit '新規登録', class: "prim-btn float-right" %>
	          </div>
	        </div>
	        <%= link_to "ログインはこちら", new_session_path(resource_name) ,class: "float-right" %>
	      <% end %>
			</div>
		</div>
	</div>
	<br><br><br><br>
	<div class="container-fluid explore-top">
	  <div class="row">
	    <div class="col-12 col-md-6">
				<h3>教材をすべて一箇所に！</h3>
				<img alt="no-icon" src="/images/function_collect_sp.jpg" class='explore-top-img'>
				<div class='margin-b-40'>
					<ul class="cp_list">
						<li>勉強したい文章、短文、単語を全て一箇所に。</li>
						<li>勉強中/要復習、など教材の状態を管理。</li>
						<li>周りの人の学習教材を、ワンボタンで自分の教材一覧に流用。</li>
					</ul>
				</div>
	    </div>
	    <div class="col-12 col-md-6">
				<h3>そのまま勉強できる！</h3>
				<img alt="no-icon" src="/images/function_study_sp.jpg" class='explore-top-img'>
				<div class=''>
					<ul class="cp_list">
						<li>スマホ/タブレット一つで学習完結。</li>
						<li>暗記済みのチェックを付けられる。</li>
						<li>調べたい単語・文章をワンクリックで検索。</li>
					</ul>
				</div>
	    </div>
	   </div>
	</div>
<% end %>

<section class='psr'>
	<div class='psr-title psr-title-prim'>みんなの文章</div>
	<div class='psr-content'>
		<% @passages.each do |passage| %>
			<div class='margin-b-20'>
				<%= link_to passage_word_ch_path(passage) do %>
					<%= render :partial => 'svg/passage' %><%= passage.title.truncate(17) %>
				<% end %>
				<div class='psr-content-sub'>
					<%= passage.ch.truncate(70) %>
				</div>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to passages_explore_path do %>
				>全ての文章(<%= @passages_cnt %>)
			<% end %>
		</div>
	</div>
</section>

<section class='psr'>
	<div class='psr-title psr-title-prim'>みんなの短文集</div>
	<div class='psr-content'>
		<% @papers.each do |paper| %>
			<div class='margin-b-20'>
				<%= link_to paper_sentence_ch_path(paper) do %>
					<%= render :partial => 'svg/paper' %><%= paper.name.truncate(17) %><span class='font-12'>（<%= paper.sentences.count %>）</span>
				<% end %>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to papers_explore_path do %>
				>全ての短文集(<%= @papers_cnt %>)
			<% end %>
		</div>
	</div>
</section>

<section class='psr'>
	<div class='psr-title psr-title-prim'>みんなの単語帳</div>
	<div class='psr-content'>
		<% @rings.each do |ring| %>
			<div class='margin-b-20'>
				<%= link_to ring_word_ch_path(ring) do %>
					<%= render :partial => 'svg/ring' %><%= ring.name.truncate(17) %><span class='font-12'>（<%= ring.r_words.count %>）</span>
				<% end %>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to rings_explore_path do %>
				>全ての単語帳(<%= @rings_cnt %>)
			<% end %>
		</div>
	</div>
</section>


<section class='psr'>
	<div class='psr-title psr-title-prim'>ユーザー</div>
	<div class='psr-content explore-users'>
		<% @users.each do |user| %>
			<div class='margin-b-20'>
				<%= link_to user_path(user) do %>
					<div class='clearfix'>
						<div class='float-left'>
						  <% if user.image? %>
						    <%= image_tag user.image.url, :alt => "icon" %>
						  <% else %>
								 <img alt="no-icon" src="/images/no-icon.png">
						  <% end %>
						</div>
						<div class='float-left user-name'>
							<%= user.name.truncate(15) %>
						</div>
					</div>
				<% end %>
				<% if user.introduction? %>
					<div class='psr-content-sub'>
						<%= user.introduction.truncate(70) %>
					</div>
				<% end %>
			</div>
		<% end %>
		<div class='psr-link'>
			<%= link_to users_explore_path do %>
				>全てのユーザー(<%= @users_cnt %>)
			<% end %>
		</div>
	</div>
</section>