<h1 class='explore-title'>ユーザー一覧</h1>

<section class='psr'>
	<div class='psr-content explore-users'>
		<% @users.each do |user| %>
			<div class='margin-b-20'>
				<%= link_to user_path(user) do %>
					<div class='clearfix'>
						<div class='float-left'>
						  <% if user.image? %>
						    <%= image_tag user.image.url, :alt => "icon" %>
						  <% else %>
								 <img alt="no-icon" src="/images/no-icon.png">
						  <% end %>
						</div>
						<div class='float-left user-name'>
							<%= user.name.truncate(15) %>
						</div>
					</div>
				<% end %>
				<% if user.introduction? %>
					<div class='psr-content-sub'>
						<%= user.introduction.truncate(70) %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</section>

<div class='center'><%= paginate @users %></div>