<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

    <div class="form-title">単語を追加する</div>
    <div class="new-content">
      <%= form_tag("/r_words", method: :post) do %>
         <!-- 単語帳選択 -->
        <div class='form-section'>
          <%= label_tag(:ring, "どの単語帳に追加しますか？") %><br>
          <% if params[:ring_id].present? %>
            <%= select_tag :ring_id, options_from_collection_for_select(@myrings, :id, :name, selected: params[:ring_id]) %>
          <% else %>
            <%= select_tag :ring_id, options_from_collection_for_select(@myrings, :id, :name) %>
          <% end %>
        </div>

        <!-- 単語フォーム -->
        <div class='form-section'>
          <%= label_tag(:title, "追加したい単語を書いてください") %><br>
          <% 20.times do |i| %>
            <div class="clearfix">
              <div id="r_word_ch_<%= i %>" class="float-left">
                <%= render :partial => 'svg/google' %>
              </div>
              <%= text_field_tag 'r_word['+i.to_s+'][ch]', "", placeholder: "中国語", class: "float-left" %>
              <div id="r_word_ja_<%= i %>" class="float-left margin-l-10">
                <%= render :partial => 'svg/google' %>
              </div>
              <%= text_field_tag 'r_word['+i.to_s+'][ja]', "",  :placeholder=> "日本語", class: "float-left" %>
            </div>
            <!-- google検索機能 -->
            <script type="text/javascript">
              document.getElementById("r_word_ch_<%= i%>").onclick = function(){
                var target= document.getElementById('r_word_<%= i%>_ch');
                    word = target.value;
                window.open('http://www.google.com/search?q=中国語%20'+word);
              };
              document.getElementById("r_word_ja_<%= i%>").onclick = function(){
                var target= document.getElementById('r_word_<%= i%>_ja');
                    word = target.value;
                window.open('http://www.google.com/search?q=中国語%20'+word);
              };
            </script>
          <% end %>
        </div>

        <%= submit_tag "追加", class: "form-send-btn float-right margin-b-20 visible-lg visible-md" %>
        <%= submit_tag "追加", class: "form-send-btn action-float-btn visible-xs visible-sm" %>
        <br><br><br>
      <% end %>
    </div><!-- End of passage-new-content -->
  </div><!-- End of col-12 -->
</div><!-- End of row -->