<footer class="container-fluid visible-xs">
  <div class="row topline">
    <div class="col-xs-3 center-align footer-link">
      <%= link_to home_path do %>
        <% if params[:controller] == 'homes' %>
          <%= render :partial => 'svg/home_colored' %><br>
          <span class='selected'>ホーム</span>
        <% else %>
          <%= render :partial => 'svg/home' %><br>
          ホーム
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-9 center-align">
      <% unless params[:controller] == 'users/registrations' %>
        <%= link_to new_user_registration_path do %>
          <div class="prim-btn me-registration-btn">登録をして勉強開始！</div>
        <% end %>
      <% else %>
        <%= link_to new_session_path(resource_name) do %>
          <div class="grey-btn me-registration-btn">ログインはこちら</div>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>