<% unless user_signed_in? %>
	<% if words.present? || passage.ja.present? %>
		<div class='card-alert-light-blue'>
			<p class="font-bold font-16">ヒント</p>
			<ul class="cp_list">
				<% if passage.ja.present? %>
					<div class="visible-xs">
						<li>右下の「日」ボタンから日本語訳を見ることができます。
						</li>
					</div>
				<% end %>
				<% if words.present? %>
					<li>下にある単語帳の単語を押すと、google検索できます</li>
					<li>ログインすると、単語帳として便利に利用できます。</li>
				<% end %>
			</ul>
		</div>
	<% end %>
<% end %>


<div class='clearfix'>
	<div class='psr-show-user float-left'>
		<%= link_to user_path(user) do %>
			<% if user.image? %>
			  <%= image_tag user.image.url, :alt => "icon", :class=>"smallicon center" %>
			<% else %>
				 <img alt="no-icon" src="/images/no-icon.png" class="smallicon">
			<% end %>
		<% end %>
	</div>
	<div class='psr-show-user float-left margin-l-10'>
		<%= link_to user_path(user) do %>
			<%= user.name %>
		<% end %>
	</div>
	<% if user == current_user %>
		<div class='edit-btn float-right'>
				<%= link_to edit_passage_path(passage) do %>
					<%= render :partial => 'svg/edit_sm' %>
				<% end %>
		</div>
	<% end %>
</div>
<% if user_signed_in? && @user != current_user %>
	<%= link_to "コピー", passage_copy_path(@passage), method: :post, class: "form-send-btn prevent_double_click float-right margin-b-20 visible-lg", remote: true %>
	<%= link_to "コピー", passage_copy_path(@passage), method: :post, class: "form-send-btn prevent_double_click action-float-btn visible-xs visible-sm visible-md", remote: true %>
<% end %>
<section class='passage'>
	<div class='passage-title'>
		<%= passage.title %>
	</div>
	<!-- ステータス部分 -->
	<% if user == current_user %>
		<div class="status-btns clearfix" id="passage-status-btns">
			<%= render :partial => 'passages/passage_status', :locals=>{passage: passage} %>
		</div>
	<% end %>
	<!-- 文章表示部分 -->
	<div class='passage-content' id='passage-content-ch'>
		<%= safe_join(passage.ch.split("\n"), tag(:br)) %>
	</div>
</section>


<% if passage.ja.present? %>
	<% if passage.ch.length > 200 && passage.ja.length > 200 %>
		<!-- スマホ日本語表示ボタン -->
		<button class="form-send-btn action-float-btn visible-xs" id="open">日</button>
		<div id="passage-ja-modal">
			<p class='modal-title'>日本語訳</p>
			<div class="passage-ja-modal-content">
			  <%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			  <br><br><br>
			</div>
		  <div>
		    <button class="prim-btn" id="passage-ja-modal-close">×</button>
		  </div>
		</div>
		<!-- タブレット日本語部分 -->
		<section class='passage-ja visible-sm visible-md visible-lg'>
			<div class='passage-ja-title'>
				日本語訳
			</div>
			<div class='passage-content'>
				<%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			</div>
		</section>
	<% else %>
		<!-- 短かったら、常に全表示 -->
		<section class='passage-ja'>
			<div class='passage-ja-title'>
				日本語訳
			</div>
			<div class='passage-content'>
				<%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			</div>
		</section>
	<% end %>
<% end %>