<div class='clearfix'>
	<div class='psr-show-user float-left'>
		<%= link_to user_path(user) do %>
			<% if user.image? %>
			  <%= image_tag user.image.url, :alt => "icon", :class=>"smallicon center" %>
			<% else %>
				 <img alt="no-icon" src="/images/no-icon.png" class="smallicon">
			<% end %>
		<% end %>
	</div>
	<div class='psr-show-user float-left margin-l-10'>
		<%= link_to user_path(user) do %>
			<%= user.name %>
		<% end %>
	</div>
	<% if user == current_user %>
		<div class='edit-btn float-right'>
				<%= link_to edit_passage_path(passage) do %>
					<%= render :partial => 'svg/edit_sm' %>
				<% end %>
		</div>
	<% end %>
</div>
<% if user_signed_in? && @user != current_user %>
	<%= link_to "コピー", passage_copy_path(@passage), method: :post, class: "form-send-btn prevent_double_click float-right margin-b-20 visible-lg", remote: true %>
	<%= link_to "コピー", passage_copy_path(@passage), method: :post, class: "form-send-btn prevent_double_click action-float-btn visible-xs visible-sm visible-md", remote: true %>
<% end %>
<section class='passage'>
	<div class='passage-title'>
		<%= passage.title %>
	</div>
	<!-- ステータス部分 -->
	<% if user == current_user %>
		<div class="status-btns clearfix" id="passage-status-btns">
			<%= render :partial => 'passages/passage_status', :locals=>{passage: passage} %>
		</div>
	<% end %>
	<% if words.present? && user == current_user %>
		<div class='word-bar'>
			<div class='clearfix'>
				<div class='float-left'>
					暗記済み単語&nbsp;<%= memorized_words_ch_count %>/<%= all_words_count %>
				</div>
				<div class='float-right'>
					<% if params[:action] == 'word_ch' %>
						<a href="#passage-words-ch">単語帳を開く</a>
					<% end %>
					<% if params[:action] == 'word_ja' %>
						<a href="#passage-words-ja">単語帳を開く</a>
					<% end %>
				</div>
			</div>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: <%= progress%>%;" aria-valuenow="<%= progress%>" aria-valuemin="0" aria-valuemax="100"><%= progress%>%</div>
			</div>
		</div>
	<% end %>
	<div class='passage-content' id='passage-content-ch'>
		<%= safe_join(passage.ch.split("\n"), tag(:br)) %>
	</div>







</section>
<% if passage.ja.present? %>
	<% if passage.ch.length > 200 && passage.ja.length > 200 %>
		<!-- スマホ日本語表示ボタン -->
		<button class="form-send-btn action-float-btn visible-xs" id="open">日</button>
		<div id="passage-ja-modal">
			<p class='modal-title'>日本語訳</p>
			<div class="passage-ja-modal-content">
			  <%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			  <br><br><br>
			</div>
		  <div>
		    <button class="prim-btn" id="passage-ja-modal-close">×</button>
		  </div>
		</div>
		<!-- タブレット日本語部分 -->
		<section class='passage-ja visible-sm visible-md visible-lg'>
			<div class='passage-ja-title'>
				日本語訳
			</div>
			<div class='passage-content'>
				<%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			</div>
		</section>
	<% else %>
		<!-- 短かったら、常に全表示 -->
		<section class='passage-ja'>
			<div class='passage-ja-title'>
				日本語訳
			</div>
			<div class='passage-content'>
				<%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			</div>
		</section>
	<% end %>
<% end %>