<div class='clearfix'>
	<div class='psr-show-user float-left'>
		<%= link_to user_path(user) do %>
			<% if user.image? %>
			  <%= image_tag user.image.url, :alt => "icon", :class=>"smallicon center" %>
			<% else %>
				 <img alt="no-icon" src="/images/no-icon.png" class="smallicon">
			<% end %>
		<% end %>
	</div>
	<div class='psr-show-user float-left margin-l-10'>
		<%= link_to user_path(user) do %>
			<%= user.name %>
		<% end %>
	</div>
	<% if user == current_user %>
		<div class='edit-btn float-right'>
				<%= link_to edit_passage_path(passage) do %>
					<%= render :partial => 'svg/edit' %>
				<% end %>
		</div>
	<% end %>
</div>

<% if user_signed_in? && @user != current_user %>
  <!-- マイ教材にコピー、モーダル立ち上げボタン -->
  <button type="button" class="copy-action-btn float-right margin-b-20 visible-lg" data-toggle="modal" data-target="#copy_to_mylist_modal">
    マイ教材に追加
  </button>
  <button type="button" class="copy-action-btn action-float-btn visible-xs visible-sm visible-md" data-toggle="modal" data-target="#copy_to_mylist_modal">
    マイ教材に追加
  </button>

  <!-- マイ教材にコピー、モーダル -->
  <div class="modal fade modal-centered" id="copy_to_mylist_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">「<%= passage.title %>」をコピーして、マイ教材に追加しますか？</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <button type="button" class="btn bg-prim fontcol-white prevent_double_click" data-dismiss="modal"><%= link_to "マイ教材に追加", passage_copy_path(@passage), method: :post, class: "fontcol-white", remote: true %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section class='passage'>
	<% if passage.sample == true %>
		<div>サンプル長文</div>
	<% end %>
	<div class='passage-title'>
		<%= passage.title %>
	</div>
	<!-- ヒント部分 -->
	<% unless user_signed_in? %>
		<% if words.present?%>
			<div class='hint'>
				<ul class="cp_list">
					<li>下にある単語帳の単語を押すと、google検索できます</li>
					<li>ログインすると、暗記済みの単語にチェックをつけて、単語帳として利用できます。</li>
				</ul>
			</div>
		<% end %>
	<% end %>
	<!-- ステータス部分 -->
	<% if user == current_user %>
		<div class="status-btns clearfix" id="passage-status-btns">
			<%= render :partial => 'passages/passage_status', :locals=>{passage: passage} %>
		</div>
	<% end %>
	<!-- 文章表示部分 -->
	<div class='passage-content' id='passage-content-ch'>
		<%= safe_join(passage.ch.split("\n"), tag(:br)) %>
	</div>
</section>


<% if passage.ja.present? %>
	<% if passage.ch.length > 200 && passage.ja.length > 200 %>
		<!-- スマホ日本語表示ボタン -->
		<button class="secondary-action-btn action-float-btn-left visible-xs" id="open">日本語訳を表示</button>
		<div id="passage-ja-modal">
			<p class='modal-title'>日本語訳</p>
			<div class="passage-ja-modal-content">
			  <%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			  <br><br><br>
			</div>
		  <div>
		    <button class="prim-btn" id="passage-ja-modal-close">×</button>
		  </div>
		</div>
		<!-- タブレット日本語部分 -->
		<section class='passage-ja visible-sm visible-md visible-lg'>
			<div class='passage-ja-title'>
				日本語訳
			</div>
			<div class='passage-content'>
				<%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			</div>
		</section>
	<% else %>
		<!-- 短かったら、常に全表示 -->
		<section class='passage-ja'>
			<div class='passage-ja-title'>
				日本語訳
			</div>
			<div class='passage-content'>
				<%= safe_join(passage.ja.split("\n"), tag(:br)) %>
			</div>
		</section>
	<% end %>
<% end %>