<div class="clearfix">
  <%= link_to "文章を削除", passage_path(@passage), method: "DELETE", class: "grey-btn psr-delete-btn", data: { :confirm => '削除します。よろしいですか?'} %>
</div>

<div class="row">
  <div class="col-xs-12" >
    <div class="form-title">文章を編集する</div>
    <%= form_for @passage, method: :put do |f| %>
      <div class="col-xs-12 col-lg-8">
        <div class='form-section'>
          <div class='clearfix'>
            <div class='float-left'>
              <%= f.label :title, "タイトル" %>&emsp;
            </div>
            <div class='float-left' id="passage_new_title_google">
              <%= render :partial => 'svg/google_100' %>
            </div>
          </div>
          <%= f.text_field :title, placeholder: "文章のタイトル", class: "new-passage-title", :required => true %>
        </div>

        <div class='form-section new-passage-content'>
          <div class='clearfix'>
            <div class='float-left'>
              <%= f.label :ch, "文章内容" %>&emsp;
            </div>
            <div class='float-left' id="passage_new_ch_google">
              <%= render :partial => 'svg/google_100' %>
            </div>
          </div>
          <%= f.text_area :ch, placeholder: "中国語の文章を書いてください。改行やスペースなどで読みやすく書くことをオススメします。", :required => true %>
        </div>

        <div class='form-section new-passage-content'>
          <div class='clearfix'>
            <div class='float-left'>
              <%= f.label :title, "日本語訳" %>&emsp;
            </div>
            <div class='float-left' id="passage_new_ja_google">
              <%= render :partial => 'svg/google_100' %>
            </div>
          </div>
          <%= f.text_area :ja, placeholder: "勉強するときに、文章の日本語訳が必要な場合は、埋めてください。必須項目ではありません。" %>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class='form-section'>
          <%= f.label :title, "単語" %><br />
          <% @passage.p_words.each do |w| %>
            <% if w.deleted_at.blank? %>
              <div class="clearfix">
                <div id="word_ch_<%= w.id %>" class="float-left">
                  <%= render :partial => 'svg/google' %>
                </div>
                <input placeholder="中国語" class="float-left" type='text' value='<%= w.ch %>' name='passage[p_words_attributes][<%= w.id %>][ch]' id='passage_p_words_attributes_<%= w.id %>_ch' >
                <div id="word_ja_<%= w.id %>" class="float-left margin-l-10">
                  <%= render :partial => 'svg/google' %>
                </div>
                <input placeholder="日本" class="float-left" type='text' value='<%= w.ja %>' name='passage[p_words_attributes][<%= w.id %>][ja]' id='passage_p_words_attributes_<%= w.id %>_ja' >
                <!-- google検索機能 -->
                <script type="text/javascript">
                  document.getElementById("word_ch_<%= w.id %>").onclick = function(){
                    var target= document.getElementById('passage_p_words_attributes_<%= w.id %>_ch');
                        word = target.value;
                    window.open('http://www.google.com/search?q=中国語%20'+word);
                  };
                  document.getElementById("word_ja_<%= w.id %>").onclick = function(){
                    var target= document.getElementById('passage_p_words_attributes_<%= w.id %>_ja');
                        word = target.value;
                    window.open('http://www.google.com/search?q=中国語%20'+word);
                  };
                </script>
              </div>
            <% end %>
          <% end %>

          <!-- 単語追加 -->
          <% 20.times do |i| %>
            <div class="clearfix">
              <div id="word_add_ch_<%= i %>" class="float-left">
                <%= render :partial => 'svg/google' %>
              </div>
              <input type="text" name="new_words[][ch]" class="float-left" placeholder="中国語" id="word_add_input_ch_<%= i %>">
              <div id="word_add_ja_<%= i %>" class="float-left margin-l-10">
                <%= render :partial => 'svg/google' %>
              </div>
              <input type="text" name="new_words[][ja]" class="float-left" placeholder="日本語" id="word_add_input_ja_<%= i %>">
            </div>
            <!-- google検索機能 -->
            <script type="text/javascript">
              document.getElementById("word_add_ch_<%= i%>").onclick = function(){
                var target= document.getElementById('word_add_input_ch_<%= i%>');
                    word = target.value;
                window.open('http://www.google.com/search?q=中国語%20'+word);
              };
              document.getElementById("word_add_ja_<%= i%>").onclick = function(){
                var target= document.getElementById('word_add_input_ja_<%= i%>');
                    word = target.value;
                window.open('http://www.google.com/search?q=中国語%20'+word);
              };
            </script>
          <% end %>
        </div>
      </div>
      <%= f.submit "更新", class: "form-send-btn float-right margin-b-20 visible-lg" %>
      <%= f.submit "更新", class: "form-send-btn action-float-btn visible-xs visible-sm visible-md" %>
      <br><br><br>
    <% end %>
  </div><!-- End of col-12 -->
</div><!-- End of row -->