<div class='clearfix'>
	<div class='psr-show-user float-left'>
		<% if user.image? %>
		  <%= image_tag user.image.url, :alt => "icon", :class=>"smallicon center" %>
		<% else %>
			 <img alt="no-icon" src="/images/no-icon.png" class="smallicon">
		<% end %>
	</div>
	<div class='psr-show-user float-left margin-l-10'>
		<%= user.name %>
	</div>
	<% if user == current_user %>
		<div class='edit-btn float-right'>
			<%= link_to edit_ring_path(ring) do %>
				<%= render :partial => 'svg/edit_sm' %>
			<% end %>
		</div>
	<% end %>
</div>
<% if user_signed_in? && @user != current_user %>
	<%= link_to "コピー", ring_copy_path(@ring), method: :post, class: "form-send-btn float-right margin-b-20 visible-lg visible-md", remote: true %>
	<%= link_to "コピー", ring_copy_path(@ring), method: :post, class: "form-send-btn action-float-btn visible-xs visible-sm", remote: true %>
<% end %>