<div class="clearfix">
  <%= link_to "単語帳を削除", ring_path(@ring), method: "DELETE", class: "grey-btn psr-delete-btn", data: { :confirm => '削除します。よろしいですか?'} %>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

    <div class="form-title">単語帳を編集する</div>
    <div class="new-content">

      <%= form_for @ring, method: :put do |f| %>
        <div class='form-section'>
          <div class='clearfix'>
            <div class='float-left'>
              <%= f.label :name, "単語帳の名前" %>&emsp;
            </div>
            <div class='float-left' id="ring_new_title_google">
              <%= render :partial => 'svg/google_100' %>
            </div>
          </div>
          <%= f.text_field :name, placeholder: "単語帳の名前", class: "new-passage-title", :required => true %>
        </div>

        <div class='form-section'>
          <%= f.label :titile, "新単語追加" %>&emsp;
          <% i=0 %>
          <!-- 単語追加 -->
          <% 10.times do |i| %>
            <div class="clearfix">
              <div id="word_add_ch_<%= i %>" class="float-left">
                <%= render :partial => 'svg/google' %>
              </div>
              <input type="text" name="new_words[][ch]" class="float-left" placeholder="中国語" id="word_add_input_ch_<%= i %>">
              <div id="word_add_ja_<%= i %>" class="float-left margin-l-10">
                <%= render :partial => 'svg/google' %>
              </div>
              <input type="text" name="new_words[][ja]" class="float-left" placeholder="日本語" id="word_add_input_ja_<%= i %>">
            </div>
            <!-- google検索機能 -->
            <script type="text/javascript">
              document.getElementById("word_add_ch_<%= i%>").onclick = function(){
                var target= document.getElementById('word_add_input_ch_<%= i%>');
                    word = target.value;
                window.open('http://www.google.com/search?q=中国語%20'+word);
              };
              document.getElementById("word_add_ja_<%= i%>").onclick = function(){
                var target= document.getElementById('word_add_input_ja_<%= i%>');
                    word = target.value;
                window.open('http://www.google.com/search?q=中国語%20'+word);
              };
            </script>
          <% end %>
        </div>
        <%= f.submit "更新", class: "form-send-btn float-right margin-b-20 visible-lg" %>
        <%= f.submit "更新", class: "form-send-btn action-float-btn visible-xs visible-sm visible-md" %>
        <br><br><br>
      <% end %>
    </div><!-- End of ring-new-content -->
  </div><!-- End of col-12 -->
</div><!-- End of row -->