<!-- TOPは共通 -->
<%= render :partial => 'rings/rings_show_common', :locals=>{user: @user, ring: @ring} %>


<!-- 単語部分は日中で出しわけ -->
<h1>単語暗記</h1>

<section class='words' id='ring-words-ch'>
	<% if @words.present? %>
		<!-- 日本語からor中国語から　切り替え選択部分 -->
		<div class='ja-ch-exchange'>
			<div class="container">
				<div class="row center-align">
					<div class="col-xs-1 center-align">
					</div>
					<%= link_to ring_word_ch_path(@ring, anchor: 'ring-words-ch') do %>
						<div class="col-xs-5 langchange-btn-unselected">
							<% if user_signed_in? && @ring.user_id == current_user.id && @unmemorized_words_ch_count > 0 %>
								<span data-badge-top-right="<%= @unmemorized_words_ch_count %>">日→中</span>
							<% else %>
								日→中
							<% end %>
						</div>
					<% end %>
					<%= link_to ring_word_ja_path(@ring, anchor: 'ring-words-ja') do %>
						<div class="col-xs-5 langchange-btn-selected">
							<% if user_signed_in? && @ring.user_id == current_user.id && @unmemorized_words_ja_count > 0 %>
								<span data-badge-top-right="<%= @unmemorized_words_ja_count %>">中→日</span>
							<% else %>
								中→日
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
			<!-- チェック外しボタン -->
			<div class="all-uncheck-btn">
				<% if user_signed_in? && @ring.user_id == current_user.id %>
					<%= link_to ring_uncheck_all_words_ja_path(@ring),method: :put do %>
						全てのチェックをはずす
					<% end %>
				<% end %>
			</div>
		</div>
		<%= render :partial => 'render_for_word/r_word_ja_table', :locals=>{ring: @ring, words: @words} %>
	<% end %>
</section>