<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    你喜欢学习外语吗？联系我！
    Twitter: meitian.info@gmail.com
    -->


    <!-- title -->
    <meta name="keywords" content="中国語学習, 中国語, 音読, 瞬間作文">
    <meta name="description" content="">
    <title><%= content_for?(:title) ? yield(:title) : "MeiTianで毎日こつこつ中国語学習"%></title>

    <!-- デスクリプションを不用意に変更されないようにする -->
    <meta content='NOYDIR' name='ROBOTS'>
    <meta content='NOODP' name='ROBOTS'>

    <!-- アイコン -->
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- For GA -->
    <% if current_user.present? %>
      <%= analytics_init( setup: { userId: current_user.id } ) if Rails.env.production? %>
    <% else %>
      <%= analytics_init( setup: { userId: 0 } ) if Rails.env.production? %>
    <% end %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 <!--    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@0.3.0/dist/confetti.browser.min.js"></script> -->

  </head>
  <body>
    <!-- TOPブランドロゴ -->
    <div class="brand-top">
      <p class="center-align margin-0">MeiTian 毎日こつこつ中国語</p>
    </div>

    <!-- コンテンツ -->
    <div class="contents">
      <% user_signed_in? %>
      <% if notice.present? %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert"><%= alert %></div>
      <% end %>
      <div id='get-feedback-here'></div>
      <% if params[:controller] == 'explores' && params[:action] == 'show' %>
        <%= yield %>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    </div>

    <!-- フッターグロナビ -->
    <footer class="container-fluid">
      <div class="row topline">
        <div class="col-md-3"></div>
        <% if user_signed_in? %>
          <div class="col-xs-4 col-md-2 center-align footer-link">
            <%= link_to me_path do %>
              <% if params[:controller] == 'mes' %>
                <%= render :partial => 'svg/me_colored' %><br>
                <span class='selected'>マイ教材</span>
              <% else %>
                <%= render :partial => 'svg/me' %><br>
                マイ教材
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-4 col-md-2 center-align footer-link">
            <!-- 新規投稿ボタン -->
            <% if @paper.present? %>
              <%= link_to new_sentence_path(paper_id: @paper.id) do %>
                <%= render :partial => 'svg/plus' %><br>
                投稿
              <% end %>
            <% elsif @ring.present? %>
              <%= link_to new_r_word_path(ring_id: @ring.id) do %>
                <%= render :partial => 'svg/plus' %><br>
                投稿
              <% end %>
            <% else %>
              <div id="toggle-nav" class="toggle">
                <%= render :partial => 'svg/plus' %><br>
                投稿
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-8 col-md-4 center-align">
            <%= link_to new_user_registration_path do %>
              <% unless params[:controller] == 'users/registrations' %>
                <div class="prim-btn me-registration-btn">登録をして勉強開始！</div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="col-xs-4 col-md-2 center-align footer-link">
          <%= link_to explore_path do %>
            <% if params[:controller] == 'explores' %>
              <%= render :partial => 'svg/explore_colored' %><br>
              <span class='selected'>探す</span>
            <% else %>
              <%= render :partial => 'svg/explore' %><br>
              探す
            <% end %>
          <% end %>
        </div>
        <div class="col-md-3"></div>
      </div>
      <!-- 新規投稿用naviを下に隠して設置 -->
      <nav>
        <%= link_to new_r_word_path do %>
          <div class="nav-item nav-item-circle">
            <%= render :partial => 'svg/ring_white' %><br>単語
          </div>
        <% end %>
        <%= link_to new_sentence_path do %>
          <div class="nav-item nav-item-circle">
            <%= render :partial => 'svg/paper_white' %><br>短文
          </div>
        <% end %>
        <%= link_to new_passage_path do %>
          <div class="nav-item nav-item-circle">
            <%= render :partial => 'svg/passage_white' %><br>長文
          </div>
        <% end %>
        <div class="nav-item nav-item-text">何を投稿しますか？</div>
      </nav>
    </footer>
  </body>
</html>
