<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    你喜欢学习外语吗？联系我！
    Twitter: meitian.info@gmail.com
    -->


    <!-- title -->
    <meta name="keywords" content="中国語学習, 中国語, 音読, 瞬間作文">
    <meta name="description" content="">
    <title><%= content_for?(:title) ? yield(:title) : "MeiTianで毎日こつこつ中国語学習"%></title>

    <!-- デスクリプションを不用意に変更されないようにする -->
    <meta content='NOYDIR' name='ROBOTS'>
    <meta content='NOODP' name='ROBOTS'>

    <!-- アイコン -->
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- For GA -->
    <% if current_user.present? %>
      <%= analytics_init( setup: { userId: current_user.id } ) if Rails.env.production? %>
    <% else %>
      <%= analytics_init( setup: { userId: 0 } ) if Rails.env.production? %>
    <% end %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@0.3.0/dist/confetti.browser.min.js"></script>

    <!-- iphone safari スタンドアロンモード -->
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>
  <body>

    <!-- アラート -->
    <% if notice.present? %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert"><%= alert %></div>
    <% end %>


    <!-- ヘッダー タブレット以上 -->
    <div class='visible-sm visible-md visible-lg'>
      <div class="brand-top brand-top-fix fontcol-white">
        <div class="container">
          <div class="float-left margin-lr-20"><%= render :partial => 'svg/logo_letters' %></div>

          <!-- ログインユーザーのみ表示メニュー -->
          <% if user_signed_in? %>
            <div class="float-right margin-lr-20">
              <%= link_to edit_user_registration_path(@current_user) do %>
                <% if params[:controller] == 'users/registrations' %>
                  <span class='font-bold'>アカウント</span>
                <% else %>
                  アカウント
                <% end %>
              <% end %>
            </div>
            <div class="float-right margin-lr-20">
              <% if @paper.present? %>
                <%= link_to new_sentence_path(paper_id: @paper.id) do %>投稿する<% end %>
              <% elsif @ring.present? %>
                <%= link_to new_r_word_path(ring_id: @ring.id) do %>投稿する<% end %>
              <% else %>
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    投稿する&nbsp;▼
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to new_passage_path do %>
                        <div class="margin-l-10">単語帳を新規作成する</div>
                    <% end %>
                    <%= link_to new_sentence_path do %>
                        <div class="margin-l-10">瞬間作文集を作成する</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="float-right margin-lr-20">
              <%= link_to me_path do %>
                <% if params[:controller] == 'mes' %>
                  <span class='font-bold'>マイ教材</span>
                <% else %>
                  マイ教材
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="float-right margin-lr-20">
              <%= link_to new_user_registration_path do %>
                <div class="font-bold">登録をして勉強開始！</div>
              <% end %>
            </div>
            <div class="float-right margin-lr-20">
              <%= link_to new_session_path(resource_name) do %>
                <div class="">ログイン</div>
              <% end %>
            </div>
          <% end %>
          <div class="float-right margin-lr-20">
            <%= link_to home_path do %>
              <% if params[:controller] == 'homes' %>
                <span class='font-bold'>ホーム</span>
              <% else %>
                ホーム
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 40px;"></div><!-- 固定ヘッダー用のスペース -->
    </div>



    <!-- 作成タブModal スマホ用 -->
    <div class="modal fade fade-from-bottom post-psr-modal" id="post-psr-modal" tabindex="-1" role="dialog" aria-labelledby="post-psr-modalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-bottom" role="document">
        <div class="modal-content border-0">
          <div class="modal-header">
            <span class="modal-title" id="post-psr-modalTitle">新規作成</span>
            <button type="button" class="close fontcol-black opacity-8" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= link_to new_passage_path do %>
              <div class="margin-5">
                <%= render :partial => 'svg/ring_line' %><span class="margin-l-10">単語帳を新規作成する</span>
              </div>
            <% end %>
            <%= link_to new_sentence_path do %>
              <div class="margin-5">
                <%= render :partial => 'svg/paper_line' %><span class="margin-l-10">瞬間作文集を追加する</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id='get-feedback-here'></div>

    <!-- コンテンツ -->
    <div class="contents">
      <%= yield %>
    </div>

    <!-- フッターナビ スマホ用 -->
    <% case %>
    <% when user_signed_in? == false %>
      <%= render :partial => 'render_common/footer_before_login' %>
    <% when params[:controller] == 'passages' && params[:action] == 'show'%>
      <%= render :partial => 'render_common/footer_passage' %>
    <% when params[:controller] == 'papers' && params[:action] == 'show'%>
      <%= render :partial => 'render_common/footer_paper' %>
    <% else %>
      <%= render :partial => 'render_common/footer_nav' %>
    <% end %>

  </body>
</html>
