<% content_for :title do %>
  ユーザー登録 | MeiTian
<% end %>

<div class="container-fluid user-register">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-title">新規登録</div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: "input-text", required: true %><br>
        </div>

        <div class="field">
          <%= f.label :name, 'ユーザーネーム' %><span class='explanation'>（最大12文字）</span><br />
          <%= f.text_field :name, autofocus: true, maxlength: "12", placeholder: 'ユーザーネーム', class: "input-text", required: true %>
        </div>

        <div class="field">
          <%= f.label :password, 'パスワード' %><span class='explanation'>（6文字以上）</span><br>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: "input-text", required: true %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード確認', class: "input-text", required: true %>
        </div>

        <div class="field">
          <%= f.label :level, '今の中国語レベルを教えてください！' %><br />
          <%= f.select :level, [["初級（これから始める、始めたばかり）", 1], ["中級（中検3級、HSK4〜5級）", 2],  ["上級（中検2級以上、HSK6級）", 3]], required: true %>
        </div>
        <%= link_to term_docs_path, class: "fontcol-prim", target: "blank" do %>利用規約<% end %>と<%= link_to privacy_docs_path, class: "fontcol-prim", target: "blank" do %>プライバシーポリシー<% end %>をご覧ください。
        <div class="actions">
          <%= f.submit '新規登録', class: "prim-btn float-right", onclick: "ga('send', 'event', 'users_sign_up', 'submit_register_user', '')" %>
        </div>
      <% end %>
      <br><br>
      <%= render "users/shared/links" %>
    </div>
    <div class="col-md-8 visible-md visible-lg margin-t-50">
      <img alt="no-icon" src="/images/MeiTian_TOP.jpg" class="product-img">
    </div>
  </div>
  <br><br><br>
</div>